<div class="row content-no-header">
  <div class="col-md-10 col-md-offset-1">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body" style="text-align: center">
          <a class="btn btn-nav" ng-class="{'active': filterAuthor}" ng-click="filterAuthor = !filterAuthor">Author</a>
          <a class="btn btn-nav" ng-class="{'active': filterSub}" ng-click="filterSub = !filterSub">Submission</a>
          <a class="btn btn-nav" ng-class="{'active': filterRev}" ng-click="filterRev = !filterRev">Reviews</a>
          <a class="btn btn-nav" ng-class="{'active': filterAff}" ng-click="filterAff = !filterAff">Affiliation</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Attendess vs Authors vs Reviewers vs Chairs</h3>
        </div>
        <div class="panel-body">
          <canvas id="barUser" class="chart chart-bar"
                  chart-data="dataUser" chart-labels="labelsUser" chart-series="seriesUser" chart-options="optionsUser">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Authors vs. Submissions</h3>
        </div>
        <div class="panel-body">
          <canvas id="bar" class="chart chart-bar"
                  chart-data="data" chart-labels="labels" chart-series="series" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Reviews</h3>
        </div>
        <div class="panel-body">
          <canvas id="doughnut" class="chart chart-doughnut"
                  chart-data="reviewsData" chart-labels="reviewsLabels" chart-options="reviewsOptions">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Submissions By Affiliation</h3>
        </div>
        <div class="panel-body">
          <canvas id="submissionAffiliation" class="chart chart-bar" chart-data="subAffData"
                  chart-labels="subAffLabels" chart-series="subAffSeries" chart-options="subAffOptions">
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Submission Status</h3>
        </div>
        <div class="panel-body">
          <canvas id="doughnut-status" class="chart chart-doughnut"
                  chart-data="subStatusData" chart-labels="subStatusLabel" chart-options="subStatusOptions">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
