<div class="row content-no-header">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">From the Cloud to the Atmosphere: Running MapReduce across Datacenters</h2>
        </div>
        <div class="panel-body">
          <p><b>Authors:</b> Noah Alfredo, Martin Schmit, Carsten Kachel</p>
          <p><b>Keywords:</b> HTML5, CSS, WebDesign, WebDevelopment</p>
          <btf-markdown>
# Per et sit cerva minata proles tamen

## Imbres Scirone prima armenti tamen ferrum matertera

Lorem markdownum iamque pallentia tibi solebant. Docendam mihi; nata magniloquo
tegmine dissimilem, et fruticosa quae. Sparte meliore in quidque feroces
[sed](http://esse.com/fugientis.php) iubet. Reditus *cuique* sui teres quos:
deque et ipse **membra est**, se sed, me vale.

- Furibunda cura fuerat maioris pollicita viscera
- Nam insonat
- Pars rigidi
- Placidos pro
- Iacebat canis hac sub manusque ut gemino
          </btf-markdown>
          <a class="btn btn-primary btn-sm col-xs-5">Download PDF</a>
          <a class="btn btn-primary btn-sm col-xs-5 col-xs-offset-2">Reviewer Assignment</a>
        </div>
      </div>
    </div>
  </div>
</div>

