<div class="row content-no-header">
  <div class="col-md-10 col-md-offset-1">
    <div class="card-columns">
      <div class="col-xs-12" ng-repeat="s in submissions track by $index">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{s.title}}</h3>
          </div>
          <div class="panel-body">
            <p><b>Tags:</b><span ng-repeat="t in s.tags"> {{t.name}}</span></p>
            <p><b>Authors:</b><span ng-repeat="a in s.authors"> {{a.fullName}}</span></p>
            <a ui-sref="app.protected.conference.admin.submissionsDetails({submissionId: s.id})" class="btn btn-primary btn-sm col-xs-5">Details</a>
            <a class="btn btn-primary btn-sm col-xs-5 col-xs-offset-2" disabled="disabled">Reviews</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

