/*Change icons size here*/
.social-icons .fa {
  font-size: 1.8em;
  text-decoration: none;
}
/*Change icons circle size and color here*/
.social-icons .fa {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{
  border-radius: 50%;
}
.social-icons.icon-rounded .fa{
  border-radius:5px;
}
.social-icons.icon-flat .fa{
  border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
  color: #FFF;
  -webkit-box-shadow: 1px 1px 3px #333;
  -moz-box-shadow: 1px 1px 3px #333;
  box-shadow: 1px 1px 3px #333;
}

.social-icons .fa-facebook,.social-icons .fa-facebook-square {
  background-color:#3C599F;
}

.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square {
  background-color:#070709;
}
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square {
  background-color:#CF3D2E;
}

.social-icons > div > div {
  margin: 13px 0;
}
