html, body {
  padding: 0;
  min-height: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}

h1, h2, strong, b {
  color: #333
}

.highlight {
  color: #cc0000;
}

a:hover, a:active, a:focus {
  color: #333;
  cursor: pointer;
}

a, a:link, a:visited {
  color: #cc0000;
}

.navbar-nav > li > a, .navbar-nav > li > a:visited {
  color: #333;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  color: #cc0000;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li > a:active {
  color: #cc0000;
  background: #FFFFFF;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: #FFFFFF;
}

.navbar-nav > li {
  font-size: 1.75rem;
}

.navbar-fixed-top {
  height: 80px;
  background: #FFF;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-fixed-top > .container-fluid {
  margin-top: 15px;
}

.navbar {
  -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.24);
  -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.24);
  box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.24);
}

.navbar-brand {
  font-size: 2.5rem;
}

.page-title {
  margin-top: 40px;
  margin-bottom: 20px;
}

.content {
  padding-top: 80px;
}

.conference-title-default {
  font-weight: normal;
  font-size: 1rem;
}

@media (min-width: 1200px) {

  .verticalLine {
    border-right: thin solid #EEE;
  }

}

.glyphicon-remove:hover {
  cursor: pointer;
}

.ng-hide.ng-hide-animate {
  display: none !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.centerContent {
  float: none;
  margin: 0 auto;
}

.validation.ng-dirty.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.validation.ng-dirty.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.modified-dropdown-button.btn {
  width: 90%;
}

.modified-dropdown-caretbutton.btn {
  width: 10%;
}

.fullwidth-dropdown-list {
  width: 100%;
}
