html, body {
  padding: 0;
  min-height: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}

.content {
  padding-top: 80px;
}

textarea {
  resize: none;
}

@media (min-width: 1200px) {

  .verticalLine {
    border-right: thin solid #EEE;
  }

}

.glyphicon-remove:hover {
  cursor: pointer;
}

.ng-hide.ng-hide-animate {
  display: none !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.centerContent {
  float: none;
  margin: 0 auto;
}

.validation.ng-dirty.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.validation.ng-dirty.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.modified-dropdown-button.btn {
  width: 90%;
}

.modified-dropdown-caretbutton.btn {
  width: 10%;
}

.fullwidth-dropdown-list {
  width: 100%;
}

.card-columns {
  column-count: 1;
}

.card-columns > div {
  break-inside: avoid-column;
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

.conference-link {
  cursor: pointer;
}
