body {
  padding-top:50px;
  padding-bottom: 50px;
}
.glyphicon-remove:hover {
  cursor:pointer
}

.ng-hide.ng-hide-animate{
  display: none !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.navbar-link.no-underline {
  text-decoration: none;
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

.validation.ng-dirty.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.validation.ng-dirty.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}
