<h1>Affiliation List</h1>
<hr>
<form name="newAffiliationForm" novalidate ng-submit="createAffiliation()">
  <div class="row">
    <div class="col-lg-6 form-group">
      <label for="name">Affiliation Name</label>
      <input type="text" autocomplete="off" class="form-control" id="name" placeholder="Affiliation Name" required ng-model="newAffiliation.name">
    </div>
    <div class="col-lg-6 form-group">
      <label for="city">City</label>
      <input type="text" autocomplete="off" class="form-control" placeholder="City" id="city" required ng-model="newAffiliation.city">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 form-group">
      <label for="state">State</label>
      <input type="text" autocomplete="off" class="form-control" placeholder="State" id="state" required ng-model="newAffiliation.state">
    </div>
    <div class="col-lg-6 form-group">
      <label for="country">Country</label>
      <input type="text" autocomplete="off" class="form-control" placeholder="Country" id="country" required ng-model="newAffiliation.country">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1">
      <button class="btn btn-default" ng-disabled="newAffiliationForm.$invalid">Add</button>
    </div>
  </div>
</form>
<hr>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>

          <input type="text" class="form-control" placeholder="Filter" ng-model="searchAffiliation">

        </div>
      </div>
    </form>
  </div>

  <!-- Table -->
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>
            <a ui-sref="affiliation" ng-click="sortType = 'name'; sortReverse = !sortReverse">
              Name
              <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th>
            <a ui-sref="affiliation" ng-click="sortType = 'city'; sortReverse = !sortReverse">
              City
              <span ng-show="sortType == 'city' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'city' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th>
            <a ui-sref="affiliation" ng-click="sortType = 'state'; sortReverse = !sortReverse">
              State
              <span ng-show="sortType == 'state' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'state' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th>
            <a ui-sref="affiliation" ng-click="sortType = 'country'; sortReverse = !sortReverse">
              Country
              <span ng-show="sortType == 'country' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'country' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="a in affiliations | orderBy:sortType:sortReverse | filter:searchAffiliation">
          <td>{{a.name}}</td>
          <td>{{a.city}}</td>
          <td>{{a.state}}</td>
          <td>{{a.country}}</td>
          <td><i class="glyphicon glyphicon-remove pull-right" ng-click="removeAffiliation(a)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
