<h1>Login Form</h1>
<a href="/auth/facebook" class="btn btn-primary">Login with Facebook</a>
<a href="/auth/github" class="btn btn-primary">Login with GitHub</a>
<a href="/auth/google" class="btn btn-primary">Login with Google</a>
<form name="loginForm" novalidate action="/auth/local" method="post">
  <div class="row">
    <div class="col-lg-12">
      <span class="error" ng-show="loginForm.email.$error.email">Email is invalid</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 form-group">
      <label for="username">Username</label>
      <input type="text" autocomplete="off" class="form-control" id="username" placeholder="Username" name="username" required ng-model="login.username">
    </div>
    <div class="col-lg-6 form-group">
      <label for="password">Password</label>
      <input type="password" autocomplete="off" class="form-control" placeholder="Password" id="password" name="password" required ng-model="login.password">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1">
      <button class="btn btn-default" ng-disabled="loginForm.$invalid">Log In</button>
    </div>
  </div>
  <!--<a href="/auth/facebook">FB Login</a>-->
</form>
