<div permission permission-except="'hasValidSession'">
  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 centerContent">
    <h1 class="text-center page-title">Login</h1>
    <br/>
    <!-- TODO improve: http://blog.yodersolutions.com/bootstrap-form-validation-done-right-in-angularjs/ -->
    <!-- TODO improve: validation for regex in username and pw -->
    <form name="loginForm" ng-submit="login()" novalidate>
      <!--<div class="form-group" ng-class="{ 'has-error': (loginForm.username.$dirty && loginForm.username.$error.required) || (loginForm.username.$invalid && !loginForm.username.$error.required) }">-->
      <div class="form-group"
           ng-class="{ 'has-error': (loginForm.username.$dirty && loginForm.username.$error.required) || (loginForm.username.$invalid && !loginForm.username.$error.required) }">
        <label class="control-label" for="username">Username</label>
        <!-- TODO: regex username if needed (validation) -->
        <!-- <input type="text" autocomplete="off" name="username" id="username" placeholder="Username" class="form-control validation" required ng-model="login.username" ng-pattern="/^[A-Za-z0-9_]{8,16}$/" /> -->
        <input type="text" autocomplete="off" name="username" id="username" placeholder="Username"
               class="form-control validation" required ng-model="user.username"/>
        <!--<span ng-show="loginForm.username.$dirty && loginForm.username.$error.required" class="help-block">Username is required</span>-->
        <div class="help-block">
          <!--<span ng-if="loginForm.username.$dirty && loginForm.$invalid">Username is required
            </span>-->
          <!--<span ng-if="loginForm.username.$touched && loginForm.username.$invalid && !loginForm.username.$error.required">Username is invalid
            </span>-->
        </div>
      </div>
      <div class="form-group"
           ng-class="{ 'has-error': (loginForm.password.$dirty && loginForm.password.$error.required) || (loginForm.password.$invalid && !loginForm.password.$error.required) }">
        <label class="control-label" for="password">Password</label>
        <!-- TODO: regex password if needed (validation) -->
        <!-- <input type="password" autocomplete="off" name="password" id="password" placeholder="Password" class="form-control validation" required ng-model="login.password" ng-pattern="/^([A-Z])+([a-z])+([0-9])+([@!%?_])+[A-Za-z0-9@!%?_]*$/"/> -->
        <input type="password" autocomplete="off" name="password" id="password" placeholder="Password"
               class="form-control validation" required ng-model="user.password"/>
        <div class="help-block">
          <!--<span ng-if="loginForm.password.$dirty && loginForm.password.$error.required">Password is required
            </span>
          <span ng-if="loginForm.password.$touched && loginForm.password.$invalid && !loginForm.password.$error.required">Password is invalid
            </span>-->
        </div>
      </div>
      <div class="form-group">
        <div class="row centerContent">
          <button class="btn btn-primary col-lg-12 col-md-12 col-sm-12 col-xs-12">Login</button>
        </div>
        <br/>
        <div class="text-center">
          <a ui-sref="app.signup">Create new account</a>
        </div>
      </div>
    </form>
    <br/>
    <div class="form-group text-center">
      <div class="centerContent social-icons icon-circle">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a href="/auth/facebook" class="fa fa-facebook fa-3x" aria-hidden="true"></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a href="/auth/github" class="fa fa-github fa-3x" aria-hidden="true"></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a href="/auth/google" class="fa fa-google-plus fa-3x" aria-hidden="true"></a>
          </div>
        </div>
      </div>
      <div class="centerContent">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Login with Facebook
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Login with Github
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Login with Google+
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
