<div class="row content-no-header" permission permission-except="'hasValidSession'">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-title">Login</h1>
    <form name="loginForm" ng-submit="login()" novalidate>
      <div class="row">
        <div class="form-group" show-errors='{showSuccess: true}'>
          <label class="control-label" for="username">Username</label>
          <input type="text" autocomplete="off" name="username" id="username" placeholder="Username"
                 class="form-control" required ng-model="user.username"/>
        </div>
      </div>
      <div class="row">
        <div class="form-group" show-errors='{showSuccess: true}'>
          <label class="control-label" for="password">Password</label>
          <input type="password" autocomplete="off" name="password" id="password" placeholder="Password"
                 class="form-control" required ng-model="user.password"/>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <button class="btn btn-primary col-xs-12">Login</button>
        </div>
      </div>
      <div class="row" id="create-new-account">
        <div class="text-center">
          <a ui-sref="app.signup">Create new account</a>
        </div>
      </div>
    </form>
  </form>
</div>
