<div class="col-md-10 centerContent">
  <h1 class="text-center">Your Conferences</h1>
  <br/>
  <!-- Table -->
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
        <tr>
          <th></th>
          <th>Attendee</th>
          <th>Author</th>
          <th>Reviewer</th>
          <th>Chair</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="c in conferenceList">
          <th scope="row">{{c.name}}</th>
          <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
          <td>
            <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="c.isAuthor"></span>
            <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="!c.isAuthor"></span>
          </td>
          <td>
            <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="c.isReviewer"></span>
            <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="!c.isReviewer"></span>
          </td>
          <td>
            <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="c.isChair"></span>
            <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="!c.isChair"></span>
          </td>
          <td>
            <button class="btn btn-default" ng-click="setDefault(c)" ng-show="!c.isDefault">Set as Default</button>
            <button class="btn btn-primary" ng-show="c.isDefault">Default <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

