<form name="deleteUserProfileForm" ng-submit="deleteProfile()" novalidate>
  <div class="row">
    <div class="form-group col-md-6" show-errors='{showSuccess: true}'>
      <label class="control-label" for="password">Password</label>
      <input type="password" autocomplete="off" name="password" id="password" placeholder="Password"
             class="form-control" required ng-model="deleteUserProfile.password"/>
    </div>
    <div class="form-group col-md-6" show-errors='{showSuccess: true}'>
      <label class="control-label" for="confirmPassword">Confirm Password</label>
      <input type="password" autocomplete="off" name="confirmPassword" id="confirmPassword"
             placeholder="Confirm Password"
             class="form-control" check-password="deleteUserProfile.password" required
             ng-model="deleteUserProfile.confirmPassword"/>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <button class="btn btn-primary col-xs-12">Delete</button>
    </div>
  </div>
</form>
