<form name="changeUserPasswordForm" ng-submit="changePassword()" novalidate>
  <div class="row">
    <div class="form-group col-md-6" show-errors='{showSuccess: true}'>
      <label class="control-label" for="newPassword">New Password</label>
      <input type="password" autocomplete="off" name="newPassword" id="newPassword"
             placeholder="New Password"
             class="form-control" required ng-model="changeUserPassword.newPassword"/>
    </div>
    <div class="form-group col-md-6" show-errors='{showSuccess: true}'>
      <label class="control-label" for="confirmNewPassword">Confirm Password</label>
      <input type="password" autocomplete="off" name="confirmNewPassword" id="confirmNewPassword"
             placeholder="Confirm Password"
             class="form-control" required ng-model="changeUserPassword.confirmNewPassword"
             check-password="changeUserPassword.newPassword"/>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <button class="btn btn-primary col-xs-12">Change</button>
    </div>
  </div>
</form>
