<div class="col-md-8 col-md-offset-2 content-no-header">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body" style="text-align: center">
          <a class="btn btn-nav" ui-sref-active="active" ui-sref="app.protected.user.profile.edit">Edit</a>
          <a class="btn btn-nav" ui-sref-active="active" ui-sref="app.protected.user.profile.changePassword">Change Password</a>
          <a class="btn btn-nav" ui-sref-active="active" ui-sref="app.protected.user.profile.delete">Delete Account</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div ui-view></div>
    </div>
  </div>
</div>
