<div class="row content-no-header">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{{user.fullName}}</h2>
        </div>
        <div class="panel-body">
          <p><b>Firstname: </b>{{user.firstname}}</p>
          <p><b>Lastname: </b>{{user.lastname}}</p>
          <p><b>E-Mail: </b>{{user.email}}</p>
          <p><b>Address: </b>{{user.street}} {{user.zip}} {{user.city}} {{user.state}} {{user.country}}</p>
          <div ng-show="user.affiliation">
            <p><b>Affiliation: </b>{{user.affiliation.name}}</p>
          </div>
          <div ng-show="user.lat && user.lng">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' control="map.control">
              <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id"></ui-gmap-marker>
            </ui-gmap-google-map>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
