<div class="row content-no-header" permission permission-except="'hasValidSession'">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-title">Register</h1>
    <div class="row" ng-show="affiliationMissing">
      <div class="col-xs-12">
        <div class="alert alert-danger" ng-show="affiliationMissing">
          <b>Failure.</b> Please select your affiliation.
        </div>
      </div>
    </div>
    <form name="newUserForm" method="post" action="/auth/signup">
      <div class="row">
        <div class="form-group col-md-6" show-errors='{showSuccess: true}'>
          <label class="control-label" for="firstname">First Name</label>
          <input type="text" autocomplete="off" name="firstname" id="firstname" placeholder="Firstname"
                 class="form-control" required ng-model="newUser.firstname"/>
        </div>
        <div class="form-group col-md-6" show-errors='{showSuccess: true}'>
          <label class="control-label" for="lastname">Last Name</label>
          <input type="text" autocomplete="off" name="lastname" id="lastname" placeholder="Lastname"
                 class="form-control" required ng-model="newUser.lastname"/>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6" show-errors='{showSuccess: true}'>
          <label class="control-label" for="email">E-Mail</label>
          <input type="email" autocomplete="off" name="email" id="email" placeholder="E-Mail"
                 class="form-control" required ng-model="newUser.email"/>
        </div>
        <div class="form-group col-md-6" show-errors='{showSuccess: true}'>
          <label class="control-label" for="username">Username</label>
          <input type="text" autocomplete="off" name="username" id="username" placeholder="Username"
                 class="form-control" required ng-model="newUser.username"/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="affiliation">Affiliation</label>
        <input type="text" class="hidden" id="affiliation" name="affiliation" required value="{{affiliationInput}}">
        <ui-select theme="bootstrap" ng-model="selected.selectedAffiliation">
          <ui-select-match placeholder="Select or search an affiliation">{{selected.selectedAffiliation.name}}</ui-select-match>
          <ui-select-choices repeat="a in affiliations | filter: $select.search"><!-- my add group-by="'country'" -->
            <div ng-bind-html="a.name | highlight: $select.search"></div>
            <small ng-bind-html="a.country | highlight: $select.search"></small>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="row">
        <div class="form-group col-md-6" show-errors='{showSuccess: true}'>
          <label class="control-label" for="password">Password</label>
          <input type="password" autocomplete="off" name="password" id="password" placeholder="Password"
                 class="form-control" required ng-model="newUser.password"/>
        </div>
        <div class="form-group col-md-6" show-errors='{showSuccess: true}'>
          <label class="control-label" for="checkPassword">Confirm Password</label>
          <input type="password" autocomplete="off" name="checkPassword" id="checkPassword" placeholder="Confirm Password"
                 class="form-control" check-password="newUser.password" required
                 ng-model="newUser.checkPassword"/>
        </div>
      </div>
      <div class="form-group">
          <div class="text-center">
            <button class="btn btn-primary col-xs-12" ng-click="submitForm()">Submit</button>
          </div>
      </div>
    </form>
  </div>
</div>
