<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-title">Create Submission</h1>

    <div ng-show="hasFormError(form)" class="row">
      <div class="col-xs-12">
        <div class="alert alert-danger" role="alert">Please fix the form errors below</div>
      </div>
    </div>
    <form name="form" enctype="multipart/form-data" ng-submit="createSubmission($event, form)" novalidate>
      <div class="row">
        <div class="form-group col-xs-12" ng-class="{ 'has-error': hasInputError(form.title) }">
          <label class="control-label" for="submission-title">Title</label>
          <input id="submission-title"
            name="title"
            type="text"
            class="form-control"
            ng-model="submission.title"
            ng-model-options="{ updateOn: 'blur' }"
            placeholder="The title of your paper"
            required
            minlength="8">
            <p ng-show="hasInputError(form.title)" class="help-block">Title must be at least 8 characters long.</p>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12" ng-repeat="author in submission.authors track by $index">
          <label for="submission-author-{{$index}}">{{$index + 1}}. Author</label>
          <div ng-class="{'input-group': !$first}">
            <ui-select id="submission-author-{{$index}}" ng-model="submission.authors[$index]" ng-disabled="$first" ng-change="checkAuthors()">
              <ui-select-match placeholder="Select author...">{{$select.selected.firstname}} {{$select.selected.lastname}} &lt;{{$select.selected.email}}&gt;</ui-select-match>
              <ui-select-choices repeat="author in authors | filter: $select.search">
                <div ng-bind-html="author.fullName | highlight: $select.search"></div>
                <small>
                  email: <span ng-bind-html="author.email | highlight: $select.search"></span>
                </small>
              </ui-select-choices>
            </ui-select>
            <span ng-show="!$first" class="input-group-btn">
              <button type="button" ng-click="submission.authors[$index] = undefined; checkAuthors()" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12" ng-class="{ 'has-error': hasInputError(form.abstract) }">
          <label for="submission-abstract" class="control-label">Abstract</label>
            <textarea id="submission-abstract"
              name="abstract"
              class="form-control"
              ng-model="submission.abstract"
              ng-model-options="{ updateOn: 'blur' }"
              placeholder="The abstract of your paper"
              rows="5"
              required
              minlength="20">
            </textarea>

            <p ng-show="hasInputError(form.abstract)" class="help-block">Abstract must be at least 20 characters long.</p>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12">
          <label for="submission-keywords" class="control-label">Keywords</label>
          <ui-select id="submission-keywords" multiple tagging="transformTag" on-select="createTag($item)" ng-model="submission.tags">
            <ui-select-match placeholder="Keywords, e.g., html5, javascript, google-chrome, ...">{{$item.name}}</ui-select-match>
            <ui-select-choices refresh="populateAutoCompleteTags($select)" refresh-delay="300" position="down" repeat="tag in tagSuggestions">
              <span ng-bind-html="tag.name | highlight: $select.search"></span>
              <span ng-if="tag.id < 0" ng-bind-html="'<small>(new)</small>'"></span>
            </ui-select-choices>
          </ui-select>
          <p class="help-block">Enter any numbers of keywords. Press ENTER to confirm each of them.</p>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12">
          <label for="submission-file" class="control-label">Paper (PDF)</label>
          <div id="submission-file" class="dropzone"></div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12">
          <button type="submit" class="btn btn-primary col-xs-12" ng-disabled="pendingRequest">
            Submit Paper
            <i class="fa fa-circle-o-notch rotate" ng-show="pendingRequest"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
