<div class="row content-no-header">
  <div class="col-md-8 col-md-offset-2">
    <div class="col-xs-12" ng-repeat="s in submissions track by $index">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{{s.title}}</h2>
        </div>
        <div class="panel-body">
          <p><b>Tags:</b> <span ng-repeat="t in s.tags track by $index"><span ng-show="!$first">, </span>{{t.name}}</span></p>
          <p><b>Authors:</b> <span ng-repeat="a in s.authors track by $index"><span ng-show="!$first">, </span>{{a.fullName}}</span></p>
          <div btf-markdown="s.abstract"></div>
          <div>
            <a class="btn btn-primary btn-sm col-xs-6" ui-sref="app.protected.conference.submission.edit({submissionId: s.id})">Edit</a>
            <a class="btn btn-primary btn-sm col-xs-6" ui-sref="app.protected.conference.submission.reviews.list({submissionId: s.id})">Reviews</a>
            <button class="btn btn-default btn-sm col-xs-2 col-xs-offset-4" ng-click="deleteSubmission(s)">Withdraw</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
