<div class="row content-no-header">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-xs-12" ng-repeat="r in reviews">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{{r.submissionTitle}}</h2>
        </div>
        <div class="panel-body">
          <span class="expertise">Expertise: <b>Good</b></span><span>Overall: <b>Very Good</b></span>
          <div btf-markdown="r.summary" class="markdown"></div>
          <div btf-markdown="r.strong" class="markdown"></div>
          <div btf-markdown="r.weak" class="markdown"></div>
          <div btf-markdown="r.detailed" class="markdown"></div>
          <button class="btn btn-primary col-xs-12">Edit Review</button>
        </div>
      </div>
    </div>
  </div>
</div>

