<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-title">Create Review</h1>
    <div class="row">
      <div class="form-group">
        <label class="control-label">Submission Title</label>
        <div>{{submission.title}}</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="control-label">
          <span ng-click="showAbstract = !showAbstract" class="collapse-link" data-target="#submissionAbstractTest" data-toggle="collapse"
             aria-expanded="false" aria-controls="submissionAbstractTest">
            Submission Abstract
              <span class="caret" ng-show="!!showAbstract"></span>
              <span class="caret-left" ng-show="!showAbstract"></span>
          </span>
        </label>
        <div class="collapsing" id="submissionAbstractTest">
          <div btf-markdown="submission.abstract"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="control-label">My Expertise</label>
        <div class="row">
          <div class="btn-group col-xs-12" data-toggle="buttons">
            <label class="btn btn-sm btn-primary active col-xs-2">
              <input type="radio" autocomplete="off">Very Good
            </label>
            <label class="btn btn-sm btn-primary col-xs-2">
              <input type="radio" autocomplete="off">Good
            </label>
            <label class="btn btn-sm btn-primary col-xs-2">
              <input type="radio" autocomplete="off">OK
            </label>
            <label class="btn btn-sm btn-primary col-xs-2">
              <input type="radio" autocomplete="off">Less
            </label>
            <label class="btn btn-sm btn-primary col-xs-2">
              <input type="radio" autocomplete="off">None
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="control-label">Overall Evaluation</label>
        <div class="row">
          <div class="btn-group col-xs-12" data-toggle="buttons">
            <label class="btn btn-sm btn-primary active col-xs-2">
              <input type="radio" autocomplete="off">Very Good
            </label>
            <label class="btn btn-sm btn-primary col-xs-2">
              <input type="radio" autocomplete="off">Good
            </label>
            <label class="btn btn-sm btn-primary col-xs-2">
              <input type="radio" autocomplete="off">OK
            </label>
            <label class="btn btn-sm btn-primary col-xs-2">
              <input type="radio" autocomplete="off">Less
            </label>
            <label class="btn btn-sm btn-primary col-xs-2">
              <input type="radio" autocomplete="off">None
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="control-label" for="reviewSummary">Evaluation Summary</label>
        <textarea id="reviewSummary" name="reviewSummary" class="form-control"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="control-label" for="reviewStrong">Major Strong Points</label>
        <textarea id="reviewStrong" name="reviewStrong" class="form-control"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="control-label" for="reviewWeak">Major Weak Points</label>
        <textarea id="reviewWeak" name="reviewWeak" class="form-control"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="control-label" for="reviewDetailed">Detailed Comments</label>
        <textarea id="reviewDetailed" name="reviewDetailed" class="form-control"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <button class="btn btn-primary col-xs-12">Submit Review</button>
      </div>
    </div>
  </div>
</div>
