<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-title">Create Review</h1>
    <form name="reviewEditForm" ng-submit="editReview()">
      <div class="row" ng-show="updateSuccessful">
        <div class="alert alert-success">
          <b>Success.</b> Updated review.
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="control-label">Submission Title</label>
          <div>{{submission.title}}</div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="control-label">
            <span ng-click="showAbstract = !showAbstract" class="collapse-link" data-target="#submissionAbstractTest" data-toggle="collapse"
               aria-expanded="false" aria-controls="submissionAbstractTest">
              Submission Abstract
                <span class="caret" ng-show="!!showAbstract"></span>
                <span class="caret-left" ng-show="!showAbstract"></span>
            </span>
          </label>
          <div class="collapsing" id="submissionAbstractTest">
            <div btf-markdown="submission.abstract"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="control-label">My Expertise</label>
          <div class="row">
            <div class="btn-group col-xs-12" data-toggle="buttons">
              <label class="btn btn-sm btn-primary col-xs-2" ng-click="review.expertise = 5;" ng-class="{active: review.expertise === 5}">
                <input type="radio" autocomplete="off">Very Good
              </label>
              <label class="btn btn-sm btn-primary col-xs-2" ng-click="review.expertise = 4;" ng-class="{active: review.expertise === 4}">
                <input type="radio" autocomplete="off">Good
              </label>
              <label class="btn btn-sm btn-primary col-xs-2" ng-click="review.expertise = 3;" ng-class="{active: review.expertise === 3}">
                <input type="radio" autocomplete="off">OK
              </label>
              <label class="btn btn-sm btn-primary col-xs-2" ng-click="review.expertise = 2;" ng-class="{active: review.expertise === 2}">
                <input type="radio" autocomplete="off">Less
              </label>
              <label class="btn btn-sm btn-primary col-xs-2" ng-click="review.expertise = 1;" ng-class="{active: review.expertise === 1}">
                <input type="radio" autocomplete="off">None
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="control-label">Overall Evaluation</label>
          <div class="row">
            <div class="btn-group col-xs-12" data-toggle="buttons">
              <label class="btn btn-sm btn-primary col-xs-2" ng-click="review.overall = 5;" ng-class="{active: review.overall === 5}">
                <input name="overall" type="radio" autocomplete="off">Very Good
              </label>
              <label class="btn btn-sm btn-primary col-xs-2" ng-click="review.overall = 4;" ng-class="{active: review.overall === 4}">
                <input name="overall" type="radio" autocomplete="off">Good
              </label>
              <label class="btn btn-sm btn-primary col-xs-2" ng-click="review.overall = 3;" ng-class="{active: review.overall === 3}">
                <input name="overall" type="radio" autocomplete="off">OK
              </label>
              <label class="btn btn-sm btn-primary col-xs-2" ng-click="review.overall = 2;" ng-class="{active: review.overall === 2}">
                <input name="overall" type="radio" autocomplete="off">Less
              </label>
              <label class="btn btn-sm btn-primary col-xs-2" ng-click="review.overall = 1;" ng-class="{active: review.overall === 1}">
                <input name="overall" type="radio" autocomplete="off">None
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="control-label" for="reviewSummary">Evaluation Summary</label>
          <textarea id="reviewSummary" name="reviewSummary" class="form-control"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="control-label" for="reviewStrong">Major Strong Points</label>
          <textarea id="reviewStrong" name="reviewStrong" class="form-control"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="control-label" for="reviewWeak">Major Weak Points</label>
          <textarea id="reviewWeak" name="reviewWeak" class="form-control"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="control-label" for="reviewDetailed">Detailed Comments</label>
          <textarea id="reviewDetailed" name="reviewDetailed" class="form-control"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="btn-group full-width" data-toggle="buttons">
          <label class="btn btn-sm btn-primary col-xs-6" ng-click="review.finished = false;" ng-class="{active: !review.finished}">
            <input type="radio" autocomplete="off">Draft
          </label>
          <label class="btn btn-sm btn-primary col-xs-6" ng-click="review.finished = true;" ng-class="{active: !!review.finished}">
            <input type="radio" autocomplete="off">Finished
          </label>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <button class="btn btn-primary col-xs-12 form-submit">Submit Review</button>
        </div>
      </div>
    </form>
  </div>
</div>
